<form (ngSubmit)="create()" #userform="ngForm">
  <label class="checkbox-inline">
    <label for="category">category:</label>
    <input type="email" class="form-control" id="category"
           [(ngModel)]="user.category" name="category"
           #email="ngModel">
  </label>
  <label class="checkbox-inline">
    <label for="date">date:</label>
    <input type="date" class="form-control" id="date"
           [(ngModel)]="user.date" name="date"
           #email="ngModel">
  </label>
  <label class="checkbox-inline">
    <label for="amount">amount:</label>
    <input type="amount" class="form-control" id="amount"
           [(ngModel)]="user.amount" name="amount"
           #email="ngModel">
  </label>
  <label class="checkbox-inline">
    <label for="comment">comment:</label>
    <input type="comment" class="form-control" id="comment"
           [(ngModel)]="user.comment" name="comment"
           #email="ngModel">
  </label>

  <div class="form-group">
  </div>
<button type="creste" class="btn btn-success"[disabled]="!userform.form.valid">Create</button>
</form>
<app-report></app-report>
