<app-options></app-options>
<div class="container-fluid">
  <h2>Income</h2>
  <div class="form-inline">
    <form (ngSubmit)="create()" #userform="ngForm">
      <div class="form-group">
        <label class="checkbox-inline">
          <label for="category">Category:</label>
          <input type="text" class="form-control" id="category"
                 [(ngModel)]="expense.category" name="category"
                 #email="ngModel">
        </label>
      </div>
      <div class="form-group">
        <label class="checkbox-inline">
          <label for="amount">Amount:</label>
          <input type="text" class="form-control" id="amount"
                 [(ngModel)]="expense.amount" name="amount"
                 #email="ngModel">
        </label>
      </div>
      <div class="form-group">
        <label class="checkbox-inline">
          <label for="date">Date:</label>
          <input type="date" class="form-control" id="date"
                 [(ngModel)]="expense.date" name="date"
                 #email="ngModel">
        </label>
      </div>
      <div class="form-group">
        <label class="checkbox-inline">
          <label for="comment">Comment:</label>
          <input type="text" class="form-control" id="comment"
                 [(ngModel)]="expense.comment" name="comment"
                 #email="ngModel">
        </label>
      </div>
      <label class="checkbox-inline">
        <button type="creste" class="btn btn-success"[disabled]="!userform.form.valid">Create</button>
      </label>
    </form>
  </div>
</div>

<app-table></app-table>
